<v-layout column class="mx-2">
    <v-text-field
      v-model="data.porosity"
      label="Porosity"
    />

    <v-text-field
      v-model="data.permeability"
      label="Permeability"
    />
    <v-text-field
      v-model="data.relativePermAlpha"
      label="Relative Permeability - Alpha"
    />
    <v-text-field
      v-model="data.relativePermN"
      label="Relative Permeability - N"
    />

    <v-text-field
      v-model="data.saturationAlpha"
      label="Saturation - Alpha"
    />
    <v-text-field
      v-model="data.saturationN"
      label="Saturation - N"
    />
    <v-text-field
      v-model="data.saturationSRes"
      label="Saturation - Resolution"
    />
</v-layout>
