[submodule "types/pyfr"]
	path = types/pyfr
	url = https://github.com/Kitware/simput.git
	branch = type-pyfr
[submodule "types/vcard"]
	path = types/vcard
	url = https://github.com/Kitware/simput.git
	branch = type-vcard
[submodule "types/nwchem"]
	path = types/nwchem
	url = https://github.com/kitware/simput
	branch = type-nwchem
