<div :class="$style.container" v-if="dataModel">
  <v-list dense expand>
    <template v-for="(node,i) in dataModel.getMenuList()">
      <v-list-tile
        v-if="!viewHasChildren(node.id)"
        :key="i"
        :class="$style.group"
        @click.stop="dataModel.activateView(node.id, node.index)"
      >
        <v-list-tile-content>
          <v-list-tile-title :class="$style.listRow">
            <span
              :class="node.active ? $style.activeListItem : null"
            >
              {{ node.label }}
            </span>
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-group
        v-else
        :key="i"
        sub-group
        no-action
        :class="$style.group"
        :value="!dataModel.isCollapsed(node.id, 0)"
        @input="dataModel.setCollapsed(node.id, 0, !arguments[0])"
      >
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title :class="$style.listRow">
              <span>{{ node.label }}</span>
              <v-spacer />
              <v-btn
                v-if="node.addChildButton"
                key="if-add-button"
                icon
                small
                :class="$style.listButton"
                v-on:click.stop="dataModel.addView(node.id)"
              >
                <v-icon small>add</v-icon>
              </v-btn>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <template v-for="child in node.children">
          <v-list-tile
            @click.stop="dataModel.activateView(child.id, child.index)"
          >
            <v-list-tile-content>
              <v-list-tile-title :class="$style.listRow">
                <span
                  :class="child.active ? $style.activeListItem : null"
                >
                  {{ child.label }}
                </span>
                <v-spacer />
                <v-icon
                  v-if="child.invalid"
                  key="if-child-invalid"
                  small
                  :title="child.invalid"
                >
                  warning
                </v-icon>
                <v-btn
                  v-if="!child.noDelete"
                  key="if-no-delete"
                  icon
                  small
                  :class="$style.listButton"
                  v-on:click.stop="dataModel.deleteView(child.id, child.index)"
                >
                  <v-icon small>delete</v-icon>
                </v-btn>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list-group>
    </template>
  </v-list>
</div>
