.container {
  height: 100%;
  position: relative;
}

.resetCamera {
  margin: 0;
  z-index: 1;
}

.slider {
  position: relative;
  width: 100px;
  z-index: 1;
  height: 20px;
  margin-right: 10px;
}

.toolbar {
  top: 0;
  left: 5px;
  right: 5px;
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
