.container {
  margin-top: 5px;
}

.grid {
  justify-content: center;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  background: #fefefe;
  padding: 15px;
  margin: 5px;
}

.gridItem {
  align-self: stretch;
  border: solid 1px rgba(100, 100, 100, 0.5);

  position: relative;
  transition-timing-function: ease-in;
  transition: opacity 0.5s;
}

.gridItem:before {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 1px;
  position: relative;
}

.inactiveGridItem {
  composes: gridItem;
  opacity: 0.5;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*font-size: 50%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  text-align: center;
  box-sizing: border-box;
}

.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.legendItem {
  flex: 1;
  height: 30px;
  margin: 10px;
  border: solid 1px #999;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  min-width: 100px;
}

.selectedLegendItem {
  composes: legendItem;
  font-weight: bold;
  border: solid 1px #333;
  box-shadow: 5px 10px 18px #333;
}

.actionGroup {
  display: grid;
  grid-template-columns: repeat(7, auto);
  margin: 15px 10px;
}

.item {
  border: solid 1px #aaa;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.activeItem {
  composes: item;
  background: lightgray;
}

.select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
}
