<v-container fluid v-show="isVisible()" key="text-prop" :class="$style.container">
  <v-flex xs12 :class="$style.labelContainer">
    <v-label>{{ prop.ui.label }}</v-label>
  </v-flex>
  <v-layout wrap>
    <v-flex
      v-for="i in prop.ui.size"
      :key="i"
      xs2
    >
      <v-checkbox
        :value="prop.data.value[i-1]"
        @input="onChange(arguments[0], i-1)"
        @focus="help = true"
        @blur="help = false"
      />
    </v-flex>
  </v-layout>
  <v-layout wrap>
    <v-flex xs12>
      <v-alert
        color="black"
        v-html="prop.ui.help"
        :value="help && prop.ui.help"
        icon="help_outline"
        :outline="true"
      />
    </v-flex>
  </v-layout>
</v-container>
