<v-container fluid v-show="isVisible()" key="text-prop" :class="$style.container">
  <v-flex xs12 :class="$style.labelContainer">
    <v-label>{{ prop.ui.label }}</v-label>
  </v-flex>
  <v-layout wrap>
    <v-flex xs12>
      <palette-picker
        v-model="color"
        :palette="prop.ui.domain.palette"
      />
    </v-flex>
  </v-layout>
  <v-layout wrap>
    <v-flex xs12>
      <v-alert
        color="black"
        v-html="prop.ui.help"
        :value="!!prop.ui.help"
        icon="help_outline"
        :outline="true"
      />
    </v-flex>
  </v-layout>
</v-container>
