<v-container
  grid-list-lg
  :class="$style.propertyPanel"
>
  <v-layout row wrap>
    <v-flex
      v-for="property in input"
      :key="property.title"
      xs12
    >
      <div :style="{ display: getPropertyDisplay(property) }">
        <v-card>
          <v-card-title :class="$style.propertyHeader">{{ property.title }}</v-card-title>
          <v-card-text>
            <template v-for="(content, i) in property.contents">
              <property-factory
                :key="i"
                :prop="content"
                :viewData="viewData"
                @change="updateViewData"
              />
            </template>
          </v-card-text>
        </v-card>
      </div>
    </v-flex>
  </v-layout>
</v-container>
