<v-container
  grid-list-lg
  :class="$style.propertyPanel"
>
  <v-layout row wrap>
    <v-flex
      v-for="attribute in panelData"
      :key="attribute.title"
      xs12
    >
      <div :style="{ display: getPropertyDisplay(attribute) }">
        <v-card>
          <v-card-title :class="$style.propertyHeader">{{ attribute.title }}</v-card-title>
          <v-card-text>
            <template v-for="(parameter, i) in attribute.contents">
              <property-factory
                :key="i"
                :prop="parameter"
                :viewData="viewData"
                @change="updateViewData"
              />
            </template>
          </v-card-text>
        </v-card>
      </div>
    </v-flex>
  </v-layout>
</v-container>
