<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <title>Simput</title>
    <meta name="description" content="Provide a simple way to write input simulation files">
    <link inline rel="icon" type="image/png" href="Simput.png">
    <style type="text/css">
      /* override vuetify */
      html {
        overflow: hidden !important;
      }
    </style>
    <script inline type="text/javascript" src="version.js"></script>
    <% for (key in htmlWebpackPlugin.files.js) { %>
      <script
        <% if (!htmlWebpackPlugin.files.js[key].startsWith('simput-external-')) { %> inline <% } %>
        type="text/javascript"
        src="<%= htmlWebpackPlugin.files.js[key] %>"
      ></script>
    <% } %>
  </head>
  <body>
    <div id="root-container"></div>
    <script type="text/javascript">
      const container = document.querySelector('#root-container');
      const simputInstance = Simput.createViewer(container);
      simputInstance.processURLArgs();

      // Register various template
      simputInstance.registerType('demo', ['https://unpkg.com/simput@2.2.22/dist/types/demo.js']);
      simputInstance.registerType('pyfr', ['https://unpkg.com/simput@2.2.22/dist/types/pyfr.js']);
      simputInstance.registerType('vcard', ['https://unpkg.com/simput@2.2.22/dist/types/vcard.js']);
      simputInstance.registerType('openfoam-periodic', ['https://unpkg.com/simput@2.2.22/dist/types/openfoam-periodic.js']);

      simputInstance.registerType('oscillator', ['./types/oscillator.js']);

      // Test / debug --- only for def
      simputInstance.registerType('addressbook', ['./types/addressbook.js']);
      simputInstance.registerType('demo', ['./types/demo.js']);
      simputInstance.registerType('test', ['./types/test.js']);
    </script>
  </body>
</html>
