<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <title>Simput</title>
    <meta name="description" content="Provide a simple way to write input simulation files">
    <link inline rel="icon" type="image/png" href="Simput.png">
    <style type="text/css">
      /* override vuetify */
      html {
        overflow: hidden !important;
      }
    </style>
    <script inline type="text/javascript" src="version.js"></script>
    <% for (key in htmlWebpackPlugin.files.js) { %>
      <script
        <% if (!htmlWebpackPlugin.files.js[key].startsWith('simput-external-')) { %> inline <% } %>
        type="text/javascript"
        src="<%= htmlWebpackPlugin.files.js[key] %>"
      ></script>
    <% } %>
  </head>
  <body>
    <div id="root-container"></div>
    <script type="text/javascript">
      const container = document.querySelector('#root-container');
      const simputInstance = Simput.createViewer(container);

      // Register various template
      Simput.registerType('demo', ['./types/demo.js']);
      Simput.registerType('pyfr', ['./types/pyfr.js']);
      Simput.registerType('vcard', ['./types/vcard.js']);
      Simput.registerType('openfoam-periodic', ['./types/openfoam-periodic.js']);

      Simput.registerType('oscillator', ['./types/oscillator.js']);
      Simput.registerType('vera', ['./types/vera.js']);
      Simput.registerType('parflow', ['./types/parflow.js']);

      // Test / debug --- only for dev
      Simput.registerType('addressbook', ['./types/addressbook.js']);
      Simput.registerType('demo', ['./types/demo.js']);
      Simput.registerType('test', ['./types/test.js']);
      Simput.registerType('parflow-conus', ['./types/parflow-conus.js']);
      Simput.registerType('parflow', ['./types/parflow.js']);

      simputInstance.processURLArgs();
    </script>
  </body>
</html>
