<v-container fluid v-show="isVisible()" key="text-prop" :class="$style.container">
  <v-layout wrap>
    <v-flex xs12>
      <div
        :class="$style.grid"
        :style="gridStyle"
      >
        <div
          v-for="(v,i) in controlGrid"
          :key="i"
          :class="$style.gridItem"
        >
          <div :class="$style.inner">
            <select
              v-if="v !== '-'"
              :value="labelGrid[i]"
              @input="onLabelChange(i, $event.target.value)"
              :class="$style.select"
              :style="{ background: colors[v] }"
            >
              <option
                v-for="t in labels[v]"
                :key="t"
                :value="t"
              >
                {{ t }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </v-flex>
  </v-layout>
</v-container>
