layout: index
description: SimPut
subtitle: Describe your model once then SimPut your files...
cmd: npm install -g simput && Simput
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/simput").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/simput.svg")
      p.intro-feature-desc SimPut is available via npm and create a command line tool for building new data models as well as UI for managing your data to input.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.
